Thumbs.db
[Bb]in
[Dd]ebug*/
obj/
[Rr]elease*/
*.dll
*.pdb
*.obj
*.log
*.lib
*.suo
ANS.VehicleDocumentManagement/.vs/ANS.VehicleDocumentManagement/v14/.suo
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/bin/Debug/ANS.VehicleDocumentManagement.BL.dll
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/bin/Debug/ANS.VehicleDocumentManagement.BL.pdb
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/bin/Debug/ANS.VehicleDocumentManagement.Server.dll
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/bin/Debug/ANS.VehicleDocumentManagement.Server.pdb
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/obj/Debug/ANS.VehicleDocumentManagement.BL.csproj.FileListAbsolute.txt
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/obj/Debug/ANS.VehicleDocumentManagement.BL.csprojResolveAssemblyReference.cache
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/obj/Debug/ANS.VehicleDocumentManagement.BL.dll
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/obj/Debug/ANS.VehicleDocumentManagement.BL.pdb
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.BL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.Server/bin/Debug/ANS.VehicleDocumentManagement.Server.dll
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.Server/bin/Debug/ANS.VehicleDocumentManagement.Server.pdb
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.Server/obj/Debug/ANS.VehicleDocumentManagement.Server.csproj.FileListAbsolute.txt
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.Server/obj/Debug/ANS.VehicleDocumentManagement.Server.dll
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement.Server/obj/Debug/ANS.VehicleDocumentManagement.Server.pdb
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement/bin/Debug/ANS.VehicleDocumentManagement.exe.config
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement/bin/Debug/ANS.VehicleDocumentManagement.vshost.exe.config
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement/obj/Debug/ANS.VehicleDocumentManagement.csproj.FileListAbsolute.txt
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement/obj/Debug/DesignTimeResolveAssemblyReferences.cache
ANS.VehicleDocumentManagement/ANS.VehicleDocumentManagement/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
